<div class="card">
  <p class="card-title">
    Estimado <strong>{{name}}</strong>,
  </p>
  <p class="card-text">Recientemente ha solicitado restablecer su contraseña. Por favor, haga clic en el botón de
    abajo para iniciar el proceso de restablecimiento de la contraseña.
  </p>

  <a href="{{link}}" class="button-link" style="color:white;" target="_blank">
    Restablecer contraseña
  </a>
  <p class="card-text">Tenga en cuenta lo siguiente: <br> Por motivos de seguridad, el vínculo caducará 5 minutos
    después de su envío.
  </p>
  <div class="text-secundary">
    Si no solicitó restablecer su contraseña, ignore este mensaje o comuníquese con nuestro departamento de servicio al cliente.
  </div>
  <p class="pt-5">El equipo de Coordinación Zonal 3 - Salud.</p>
  <div class="card-footer">
    <hr>
    <small>⚡ Email generado automáticamente, favor no responder ⚡</small>
    <br>
    <small>Coordinación Zonal 3 - Salud © {{date}} dsdssdsdsddssd</small>
  </div>
</div>
