 <div class="card">
    <p class="card-title">
      Estimado <strong>{{name}}</strong>,
    </p>
    <p class="card-text">Tu contraseña temporal para <strong>{{username}}</strong> es:</p>

    <div class="clave">
      {{password}}
    </div>
    <p class="card-text">Por favor, copie la contraseña e inicie sesión, después de lo cual se le pedirá que establezca
      una nueva contraseña.
    </p>
    <div class="text-secundary">
      Si usted no solicitó el reseteo de su contraseña por favor ingrese con su contraseña original.</div>
    <p class="pt-5">El equipo de Coordinación Zonal 3 - Salud.</p>
    <div class="card-footer">
      <hr>
      <small>⚡ Email generado automáticamente, favor no responder ⚡</small>
      <br>
      <small>El equipo de Coordinación Zonal 3 - Salud. - {{date}}</small>
    </div>
  </div>
