<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coordinación Zonal 3 - Salud</title>
  <style type="text/css">
   
    .card-title {
      margin-bottom: 0.5rem;
    }

    .card-body {
      flex: 1 1 auto;
      padding: 5rem;
    }

    .card {
      font: small/ 1.5 Arial, Helvetica, sans-serif;
      border-width: 1px;
      border-style: solid;
      border-color: #E0E0E0;
      border-radius: 3px;
      padding: 2rem;
      max-width: 612px;
      margin-left: auto;
      margin-right: auto;
    }

    .button-link {
      display: inline-block;
      padding: 8px 22px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      line-height: 1.29;
      font-weight: bold;
      color: #fff;
      background-color: #031633;
      border-color: #031633;
      border-radius: 5rem;
    }

    .button-link:hover {
      background-color: #02265c;
    }

    .card-footer {
      color: #494949;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 2rem 0 0.5rem 0;
    }

    .clave {
      color: #031633;
      font-weight: 800 !important;
      background-color: #d7d7d7;
      padding: 0.1rem 0.9rem;
      text-align: center;
      width: 200px;
      align-items: center;
    }

    .py-3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .pt-5 {
      padding-top: 1.5rem;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>
